body {
    margin: 0;
    background-color: #050505;
    color: #bc13fe; /* Cyber Purple */
    font-family: 'Segoe UI', sans-serif;
}

header {
    background: #000;
    padding: 20px;
    border-bottom: 2px solid #bc13fe;
    text-align: center;
}

#searchBar {
    width: 80%;
    max-width: 500px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bc13fe;
    background: #111;
    color: white;
    margin-top: 15px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: #111;
    border: 1px solid #222;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    border-color: #00f2ff; /* Cyber Blue highlight */
    transform: translateY(-5px);
    box-shadow: 0 0 15px #bc13fe;
}

.card img {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.card h3 {
    font-size: 13px;
    margin-top: 10px;
    color: #fff;
}

#player-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
}

.controls {
    height: 45px;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #bc13fe;
}

.back-btn {
    background: #bc13fe;
    color: black;
    font-weight: bold;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: calc(100% - 45px);
    border: none;
}

#panic-hint { font-size: 11px; color: #555; }
